
* { 
    padding: 0;
    margin: 0;
    color: rgb(251, 255, 0);
}

.back img {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.description {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
}

.heading {
    font-size: 50px;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 30px;
    }

    .mantra {
        font-size: 18px;
    }
}

.ganesh img{
    width: 100px;
    height: 100px;
}

.kalash img {
    width: 200px;
    height: 200px;
}

.sang {
    position: relative;
}

.sang img {
    transform: rotate(10deg);
}

.sang-p {
    position: absolute;
    font-size : 70px;
    font-weight: 800;
    top: 80%;
    left: 50%;
    transform : translate(-50%, -80%);
}