
* { 
    padding: 0;
    margin: 0;
}

.background {
    position: absolute;
}

.background img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.description {
    position: relative;
}